{% extends "base.html" %} 
{% load static %}
{% block page_name %}
  Home
{% endblock page_name %}

{% block content %}
 <div class="container max-w-full px-4 sm:px-20">

  <div class="my-20 text-gray-700">
    <h4 class="font-medium text-lg sm:text-2xl">Airbnb Plus places to stay</h4>
    <p class="text-base sm:text-lg mb-6 -mt-1">A selection of places to stay verified for quality and design.</p>
    <img class="w-screen h-40 sm:h-80 object-cover rounded overflow-hidden" src="{% static 'img/banner.jpg' %}" alt="">
  </div>

  <div class="my-16">
    <h6 class="font-medium text-xl sm:text-2xl">Introducing Airbnb Adventures</h6>
    <p class="text-base sm:text-lg">Multi-day trips led by local experts—activities, meals, and stays included.</p>

    <div class="grid grid-cols-2 sm:grid-cols-5 gap-3 mt-6">
      <div>
        <img class="rounded" src="{% static 'img/1.webp' %}" alt="">
        <div class="mt-3">
          <p class="font-medium uppercase text-xs">japan</p>
          <p>Feeling Samurai Soul</p>
          <p>From $90/person</p>
        </div>
      </div>
      
      <div>
        <img class="rounded" src="{% static 'img/2.webp' %}" alt="">
        <div class="mt-3">
          <p class="font-medium uppercase text-xs">italy</p>
          <p>Luca & Lorenzo, cooking in Chianti hills</p>
          <p>From $130/person</p>
        </div>
      </div>

      <div>
        <img class="rounded" src="{% static 'img/3.webp' %}" alt="">
        <div class="mt-3">
          <p class="font-medium uppercase text-xs">italy</p>
          <p>Handmade pasta with grandma</p>
          <p>From $96/person</p>
        </div>
      </div>

      <div>
        <img class="rounded" src="{% static 'img/4.webp' %}" alt="">
        <div class="mt-3">
          <p class="font-medium uppercase text-xs">italy</p>
          <p>Hunt for truffles in the Tuscan woods</p>
          <p>From $124/person</p>
        </div>
      </div>

      <div class="hidden sm:block">
        <img class="rounded" src="{% static 'img/5.webp' %}" alt="">
        <div class="mt-3">
          <p class="font-medium uppercase text-xs">cuba</p>
          <p>Afro-Cuban Culture Guide</p>
          <p>From $79/person</p>
        </div>
      </div>
    </div>
  </div>

    <h6 class="mb-4 font-medium text-xl tracking-normal">Places to stay around the world</h6>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
      {% for room in object_list %}
        {% include "partials/room_card.html" with room=room %}
      {% endfor %}
    </div>
    
    <div class="flex items-center justify-center mt-10">
      {% if page_obj.has_previous %}
      <a class="flex items-center mr-3 text-gray-700" href="?page={{page_obj.previous_page_number}}"><i class="fas fa-arrow-left mr-2"></i> Previous</a>
      {% endif %}
      <p class="text-red-500 font-medium">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
      {% if page_obj.has_next %}
      <a class="flex items-center ml-3 text-gray-700" href="?page={{page_obj.next_page_number}}">Next <i class="fas fa-arrow-right ml-2"></i></a>
      {% endif %}
    
    </div>
 </div>


   

{% endblock content %}

