{% extends "base.html" %}

{% block page_name %}
Edit Photo
{% endblock page_name %}

{% block content %}

<div class="h-50vh mt-32">
  <div class="container max-w-full px-4 sm:px-0">
    <div class="px-64 mb-10">
      <h2 class="text-5xl font-header">Profile photos</h2>
    </div>
    <div class="flex justify-center items-center">
      <div class="w-130 border bg-white border-gray-300 rounded-sm">
        <div class="flex items-center bg-gray-300 text-gray-700 w-full h-12 px-6">Profile Photo</div>
        
        <form class="photo my-4 p-6" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <span class="text-red-700 font-medium text-sm">
            {{error}}
          </span>
          {% endfor %}
          {% endif %}
  
          <div class="flex flex-wrap">
            <div class="w-2/5">
            <img class="rounded-sm w-56 h-56 mx-auto object-cover mb-4" src="{{object.avatar.url}}" alt="">
            </div>
            
            
            <div class="w-3/5">
            <div>
              <p>A profile photo that shows your face can help other hosts and guests get to know you. Airbnb requires all hosts to have
              a profile photo. We don’t require guests to have a profile photo, but hosts can. If you’re a guest, even if a host
              requires you to have a photo, they won’t be able to see it until your booking is confirmed.</p>
              <label
                class="flex items-center justify-center mx-auto px-4 py-3 bg-white rounded-sm border border-gray-700 cursor-pointer mt-3">
                <span class="text-sm font-medium leading-normal">Upload a file from your computer</span>
                <input type='file' class="hidden" name="avatar" />
              </label>
              
              
              <button class="bg-teal-700 text-white w-full text-center rounded p-3 font-medium mt-4 focus:outline-none">Update
                Photo</button>
              </div>
            </div>
            
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}